<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Bird shop</title>
  <link rel="stylesheet" th:href="@{/css/table.css}"/>

</head>

<body>
<h1>Welcome to bird shop</h1>
<p>
  <a th:href="@{/login}">Login</a>
</p>
<p>
  <a th:href="@{/register}">Register</a>
</p>
<h3 th:inline="text">
  <span th:if="${authentication != null}">User:
        <span  th:text="${authentication.principal.username}">not found</span>
  </span>

</h3>

<div sec:authorize="hasAuthority('ROLE_ADMIN')">
  <h3>I am admin</h3>
  <a th:href="@{/admin/loginHistory}">Logins information</a>
  <a th:href="@{/admin/paymentHistory}">Payment history</a>

</div>
<div sec:authorize="hasAuthority('ROLE_USER')">
  <h3>I am USER man</h3>
  <a th:href="@{/userDetails}">I want to look at my user details and orders MAN</a>
</div>

<div th:if="${authentication==null}">
  <h3>I am anon now</h3>
</div>
<!-- Check if the user is authenticated and display the logout button -->
<div th:if="${authentication != null}">
  <form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
  </form>
</div>
<h4>All categories:
<th:block th:each="tag,iterationStatus:${birdTags}">
  <span th:text="${tag.name}"> </span>
  <span th:if="${!iterationStatus.last}">, </span>
  <span th:if="${iterationStatus.last}">. </span>

</th:block>
  </h4>
<!-- bird items table -->
<table>
  <thead>
  <tr>
    <th> ID </th>
    <th> Name </th>
    <th>Can fly</th>
    <th> Price </th>
    <th> Description </th>
    <th> Tags </th>
    <th>Add to cart </th>

  </tr>
  </thead>
  <tbody>

  <tr th:each="bird : ${birds}">
    <td><span th:text="${bird.id}"> ID </span></td>
    <td><span th:text="${bird.name}"> Name </span></td>
    <td><span th:text="${bird.canFly}"> Can fly </span></td>
    <td><span th:text="${bird.price}"> Price </span></td>
    <td><span th:text="${bird.description}"> Description </span></td>

    <td>
      <!-- Display tags using th:each -->
      <span th:each="tag, iterationStatus : ${bird.birdTags}">
          <span th:text="${tag.name}"></span>
          <span th:if="${!iterationStatus.last}">, </span>
        </span>    </td>
    <td>
      <form th:action="@{/addBirdToCart/{id}(id=${bird.id})}" method="post">
        <input type="number" step="1" min="0" max="99" value="1" name="quantity" />
        <button type="submit">Add to cart</button>
      </form>
    </td>
    <td><span>  </span></td>

  </tr>
  </tbody>
</table>

<div style="border: solid 3px cadetblue">


<!-- create bird form -->
  <form method="post" th:object="${createBird}" th:action="@{/saveNewBird}">
    <div th:if="${#fields.hasErrors()}">
      <p th:each="error : ${#fields.errors()}" th:text="${error}"></p>

    </div>


  <label for="name">Name: </label>
  <input type="text" name="createBird.name" th:field="*{name}" placeholder="Name" id="name"/>

  <label for="description">Description: </label>
  <textarea style="resize: none" rows="5"  name="createBird.description" th:field="*{description}" id="description"
            placeholder="Description"></textarea>

  <label for="canFly">Can fly: </label>
  <input type="checkbox" th:field="*{canFly}" th:checked="false" name="createBird.canFly" id="canFly"/>
  <label for="price">Price: </label>
  <input type="number" step="0.01" value="1" th:field="*{price}" name="createBird.price" id="price" placeholder="1.0" min="0" >
  </br>
    <label for="tagDiv">Bird tags:</label>
    <div id="tagDiv">
      <th:block th:each="tag:${birdTags}">
        <input type="checkbox" th:field="*{birdTags}" th:text="${tag.name}" th:value="${tag.id}">
      </th:block>
    </div>
  </br>
  <a th:href="@{/addTags}">Add new Tags</a>
  <button type="submit">Save new Bird</button>

  </form>
</div>

<!--  Cart table-->
<h4>Cart:</h4>
<h5>Cart sum:<span th:text="${cookieCart.total}"></span></h5>
<form th:action="@{/removeEverythingFromCart}" method="post">
  <button type="submit">Remove everything from cart</button>
</form>

<table>
  <thead>
  <tr>
    <th> Name </th>
    <th> Price </th>
    <th> Quantity </th>
    <th>Add more to cart </th>
    <th>Remove times from cart </th>
    <th>Remove from cart </th>

  </tr>
  </thead>
  <tbody>

  <tr th:each="ci : ${cookieCart.items}">
    <td><span th:text="${ci.birdProduct.name}"> Name </span></td>
    <td><span th:text="${ci.birdProduct.price}"> Price </span></td>
    <td><span th:text="${ci.quantity}"> Quantity </span></td>

    <td>
    <form th:action="@{/addBirdToCart/{id}(id=${ci.birdProduct.id})}" method="post">
      <input type="number" step="1" min="0" max="99" value="1" name="quantity" />
      <button type="submit">Add more to cart</button>
    </form>
    </td>
    <td>
      <form th:action="@{/removeBirdFromCartQuantity/{id}(id=${ci.birdProduct.id})}" method="post">
        <input type="number" step="1" min="0" max="99" value="1" name="quantity" />
        <button type="submit">Remove times from cart</button>
      </form>
    </td>
    <td>
      <form th:action="@{/removeBirdFromCart/{id}(id=${ci.birdProduct.id})}" method="post">
        <button type="submit">Remove from cart</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<a th:href="@{/payment}">Pay now</a>

</body>
</html>