<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bird shop</title>
</head>
<body>
<h1>Register</h1>
<a th:href="@{/}">Want to return to the home?</a>
<p>Already registered? Click <a th:href="@{/login}">here</a> to login.</p>


<form method="post" th:object="${createBirdUser}" th:action="@{register}" id="registerForm">
  <div th:if="${#fields.hasErrors()}">
    <p th:each="error : ${#fields.errors()}" th:text="${error}"></p>

  </div>
  <label th:for="username">Username: </label>
  <input type="text" name="username"/><br/>

  <label th:for="email">Email: </label>
  <input type="text" name="email"/><br/>

  <label th:for="password">Password: </label>
  <input type="password" name="password"/><br/>

  <label th:for="confirm">Confirm password: </label>
  <input type="password" name="confirm"/><br/>

  <label th:for="description">Describe yourself regarding birds: </label>
  <input type="text" name="description"/><br/>

  <label th:for="shippingAddress">Shipping address where to mail your birds: </label>
  <input type="text" name="shippingAddress"/><br/>

  <input type="submit" value="Register"/>

</form>

</body>
</html>
<!-- end::all[] -->
