<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bird shop</title>
</head>

<body>
<h1>Only authenticated users should see this page</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nulla orci, tristique nec erat dictum, tincidunt commodo lacus. Vestibulum id urna eget enim ornare convallis a a nisi. Maecenas id feugiat purus. Praesent lacinia, neque sodales viverra luctus, nisl massa pretium erat, quis molestie neque felis vel sapien. Sed vehicula neque lorem, vitae sagittis enim aliquam interdum. Pellentesque tempus justo efficitur erat bibendum finibus. Aliquam erat volutpat.
</p>
</body>
</html>
<!-- end::all[] -->
